.edcal-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #c5cae9; */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#popup-content {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#popup-content h3 {
    font-size: 1.5rem;

}

.popup-button {
    margin-top: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
}

#edcal-create-occation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

#edcal-create-occation-form .add-button {
    background-color: #006400;
}

#popup-content .close-button {
    background-color: #c1121f;
}

.input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.input-box input,
.input-box select {
    width: 200% !important;
    max-width: 200% !important;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #000000 !important;
}

.input-box input:focus,
.input-box select:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border-bottom: 3px solid #0077b6 !important;
}

.input-box label {
    text-align: start;
    width: 100%;
    cursor: default;
    font-size: 1.2rem;
}